$color_1: #fff;
$color_2: #0e0a25;
$color_3: #0050bd;
$color_4: #c1bbf4;
$color_5: #68068e;
$color_6: #68078e;
$color_7: #007c08;
$color_8: #000;
$color_9: #08285b;
$color_10: #fff203;
$font-family_1: Roboto, sans-serif;
$font-family_2: Montserrat, sans-serif;
$background-color_1: #3898ec;
$background-color_2: #000;
$background-color_3: #fff;
$background-color_4: #120d30;
$background-color_5: rgba(0, 0, 0, .66);
$background-color_6: rgba(255, 255, 255, 0);
$background-color_7: #020202;
$background-color_8: #00235c;
$background-color_9: #0c4997;
$background-color_10: #fff200;
$background-color_11: #001e50;
$background-color_12: #011e50;
$background-color_13: #fbe517;
$background-color_14: #00245e;
$background-color_15: rgba(0, 0, 0, .6);
$background-color_16: rgba(0, 0, 0, 0);
$background-color_17: #08285b;
$background-color_18: #cc1313;
$background-color_19: #001d50;
$background-color_20: #000141;
$background-color_21: #68068e;
$border-color_1: #3898ec;
$border-color_2: #fff200;
$border-color_3: #68068e;
$outline-color_1: #ffb902;