@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
// @import 'variables';
// @import 'takis';
// @import 'memory';

@theme {
  --font-pressStart: 'Press Start 2P', display;
}

.term-list {
  list-style: none inside;
  width: 100%;
  margin: 0 auto 2em;
  padding: 5px 10px 0;
  text-align: left;
  color: #777;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  border-radius: 10px;
  height: 300px;
  overflow-y: auto;
    li {
      padding: 0.5em 0;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }
    strong {
      color: #444;
      font-weight: 700;
    }
}
